<div>
    <h2 id="page-heading">
        <span jhiTranslate="seatAllotmentApp.applicationLog.home.title">Application Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-application-log" [routerLink]="['/application-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="seatAllotmentApp.applicationLog.home.createLabel">
            Create new Application Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="applicationLogs?.length === 0">
        <span jhiTranslate="seatAllotmentApp.applicationLog.home.notFound">No applicationLogs found</span>
    </div>
    <div class="table-responsive" *ngIf="applicationLogs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="seatAllotmentApp.applicationLog.application_no">Application No</span></th>
            <th><span jhiTranslate="seatAllotmentApp.applicationLog.action">Action</span></th>
            <th><span jhiTranslate="seatAllotmentApp.applicationLog.action_by">Action By</span></th>
            <th><span jhiTranslate="seatAllotmentApp.applicationLog.action_date">Action Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicationLog of applicationLogs ;trackBy: trackId">
                <td><a [routerLink]="['/application-log', applicationLog.id, 'view' ]">{{applicationLog.id}}</a></td>
                <td>{{applicationLog.application_no}}</td>
                <td>{{applicationLog.action}}</td>
                <td>{{applicationLog.action_by}}</td>
                <td>{{applicationLog.action_date | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/application-log', applicationLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/application-log', applicationLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'application-log', { outlets: { popup: applicationLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
