<div>
    <h2 id="page-heading">
        <span jhiTranslate="seatAllotmentApp.institute.home.title">Institutes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-institute" [routerLink]="['/institute/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="seatAllotmentApp.institute.home.createLabel">
            Create new Institute
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="institutes?.length === 0">
        <span jhiTranslate="seatAllotmentApp.institute.home.notFound">No institutes found</span>
    </div>
    <div class="table-responsive" *ngIf="institutes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="seatAllotmentApp.institute.name">Name</span></th>
            <th><span jhiTranslate="seatAllotmentApp.institute.type">Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let institute of institutes ;trackBy: trackId">
                <td><a [routerLink]="['/institute', institute.id, 'view' ]">{{institute.id}}</a></td>
                <td>{{institute.name}}</td>
                <td>{{institute.type}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/institute', institute.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/institute', institute.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'institute', { outlets: { popup: institute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
